<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  bootstrap="dev/test/SeneTestCase.php"
  executionOrder="depends,defects"
  forceCoversAnnotation="true"
  beStrictAboutCoversAnnotation="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTodoAnnotatedTests="true"
  failOnRisky="true"
  failOnWarning="true"
  verbose="true"
  colors="true">
  <testsuites>
    <testsuite name="Dev">
      <directory>dev/test</directory>
    </testsuite>
  </testsuites>

  <coverage
    includeUncoveredFiles="true"
    processUncoveredFiles="false"
    pathCoverage="false"
    ignoreDeprecatedCodeUnits="true"
    disableCodeCoverageIgnore="false"
  >
    <include>
      <directory>kero/sine/</directory>
      <directory>app/core/</directory>
      <directory>app/controller/</directory>
      <directory>app/model/</directory>
      <directory>app/view/</directory>
    </include>
    <exclude>
      <directory>kero/lib/</directory>
    </exclude>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="junit.xml"/>
  </logging>
</phpunit>
